<mat-card>
    <form fxLayout="column" [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <div class="mb-2 mt-2">
                <h2>Produto</h2>
                <mat-divider></mat-divider>
            </div>
            <div fxLayoutGap.gt-xs="10px" fxLayout.lt-sm="column" fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-xs>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" placeholder="Nome">
                    <mat-error *ngIf="nome.hasError('required')">Campo obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-xs>
                    <mat-label>Valor</mat-label>
                    <input matInput formControlName="valor" type="number" placeholder="Valor">
                    <mat-error *ngIf="valor.hasError('required')">Campo obrigatório</mat-error>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="outline" fxFill>
                    <mat-label>Descrição</mat-label>
                    <textarea formControlName="descricao" placeholder="Descrição Produto" matInput></textarea>
                    <mat-error *ngIf="descricao.hasError('required')">Campo obrigatório</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline" fxFill>
                    <mat-label>SubProdutos</mat-label>
                    <mat-select formControlName="subprodutos" placeholder="Subprodutos" multiple>
                      <mat-option *ngFor="let item of subProdutosArray" [value]="item.valor">{{item.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
 


        </mat-card-content>
        <mat-card-actions fxLayout="row-reverse">
            <button mat-raised-button color="primary">Cadastar</button>
        </mat-card-actions>
    </form>
</mat-card>