<mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
    <mat-step [stepControl]="clienteFormGroup && orcamentoFormGroup">
        <form [formGroup]="orcamentoForm" class="mt-2">
            <ng-template matStepLabel>Contato / Evento</ng-template>

            <div class="mb-2 mt-2">
                <h2>Contato</h2>
                <mat-divider></mat-divider>
            </div>

            <div formGroupName="cliente">

                <div fxLayoutGap.gt-sm="10px" fxLayout.lt-lg="column" fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex.gt-xs>
                        <mat-label>Nome</mat-label>
                        <input formControlName="nome" matInput placeholder="Nome do cliente">
                        <mat-error *ngIf="clienteFormGroup.controls.nome.hasError('required')">Nome do cliente é
                            obrigatório</mat-error>
                        <mat-error *ngIf="clienteFormGroup.controls.nome.hasError('minlength')">Nome do cliente tem
                            que ter mais de 5 caracteres</mat-error>
                    </mat-form-field>

                    <div fxLayoutGap.gt-sm="10px" fxLayout.lt-md="column" fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex.gt-sm>
                            <mat-label>CPF / CNPJ</mat-label>
                            <input formControlName="cpfCnpj" matInput placeholder="CPF ou CNPJ"
                                mask="000.000.000-00||00.000.000/0000-00" [showMaskTyped]="true">
                            <mat-error *ngIf="clienteFormGroup.controls.cpfCnpj.hasError('required')">CPF ou CPNJ é
                                obrigatório</mat-error>
                            <mat-error *ngIf="clienteFormGroup.controls.cpfCnpj.hasError('mask')">CPF ou CPNJ inválido
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex.gt-sm>
                            <mat-label>Canal De Capitacao</mat-label>
                            <mat-select matInput formControlName="canalCaptacaoId" placeholder="Canal De Captação">
                                <mat-option [value]="0" selected></mat-option>
                                <mat-option [value]="1">Facebook</mat-option>
                                <mat-option [value]="2">Instagram</mat-option>
                                <mat-option [value]="3">Google</mat-option>
                            </mat-select>
                            <mat-error *ngIf="clienteFormGroup.controls.canalCaptacaoId.hasError('required')">Campo
                                obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>

                <div fxLayoutGap.gt-md="10px" fxLayout.lt-lg="column" fxLayout="row">

                    <ng-container formArrayName="contatos">
                        <ng-container *ngFor="let contato of contatos.controls; let i=index">
                            <ng-container formGroupName="{{i}}">

                                <div fxLayoutGap.gt-sm="10px" fxLayout.lt-md="column" fxLayout="row" fxFlex.gt-xs>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Telefone</mat-label>
                                        <input matInput placeholder="Telefone do cliente" formControlName="telefone"
                                            mask="(00) 0000-0000||(00) 0 0000-0000" [showMaskTyped]="true">
                                        <mat-error *ngIf="getFormControlContatos(i, 'telefone').hasError('required')">
                                            Telefone obrigatório
                                        </mat-error>
                                        <mat-error *ngIf="getFormControlContatos(i, 'telefone').hasError('mask')">
                                            Telefone inválido
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex.gt-xs>
                                        <mat-label>Contato</mat-label>
                                        <input matInput placeholder="Nome do responsável do telefone"
                                            formControlName="nomeContato">
                                        <mat-error
                                            *ngIf="clienteFormGroup.controls.canalCaptacaoId.hasError('required')">
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline" fxFlex.gt-xs>
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="exemplo@tictac.com" formControlName="email">
                                    <mat-error *ngIf="getFormControlContatos(i, 'email').hasError('email')">
                                        Email inválido
                                    </mat-error>
                                </mat-form-field>

                            </ng-container>
                        </ng-container>

                    </ng-container>
                </div>

                <div>
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Observações</mat-label>
                        <textarea formControlName="observacao" placeholder="Observações sobre o cliente"
                            matInput></textarea>
                    </mat-form-field>
                </div>

            </div>

            <div class="mb-2 mt-2">
                <h2>Evento</h2>
                <mat-divider></mat-divider>
            </div>

            <div formGroupName="orcamento">

                <div fxLayoutGap.gt-sm="10px" fxLayout.lt-md="column" fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Data do Evento</mat-label>
                        <input matInput formControlName="dataEvento" placeholder="Data do Evento"
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <mat-error *ngIf="orcamentoFormGroup.controls.dataEvento.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Hora do Evento</mat-label>
                        <input matInput formControlName="horaEvento" placeholder="Hora do Evento" mask="Hh:m0"
                            [showMaskTyped]="true">
                        <mat-error *ngIf="orcamentoFormGroup.controls.horaEvento.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayoutGap.gt-md="10px" fxLayout.lt-lg="column" fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Tipo De Evento</mat-label>
                        <mat-select matInput formControlName="tipoEvento" placeholder="Tipo De Evento">
                            <mat-option *ngFor="let tipoEvento of tiposEvento | keyvalue" [value]="tipoEvento.key">
                                {{tipoEvento.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="orcamentoFormGroup.controls.tipoEvento.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Buffet Principal</mat-label>
                        <mat-select matInput formControlName="buffetPrincipal" placeholder="Buffet Principal">
                            <mat-option [value]="undefined" selected></mat-option>
                            <mat-option [value]="true">Sim</mat-option>
                            <mat-option [value]="false">Não</mat-option>
                        </mat-select>
                        <mat-error *ngIf="orcamentoFormGroup.controls.buffetPrincipal.hasError('required')">Campo
                            obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Quantidade Adultos</mat-label>
                        <input type="number" formControlName="quantidadeAdultos" matInput
                            placeholder="Quantidade Adultos">
                        <mat-error *ngIf="orcamentoFormGroup.controls.quantidadeAdultos.hasError('required')">Quantidade
                            Adultos
                            é
                            obrigatório</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Quantidade Crianças</mat-label>
                        <input type="number" formControlName="quantidadeCriancas" matInput
                            placeholder="Quantidade Crianças">
                        <mat-error *ngIf="orcamentoFormGroup.controls.quantidadeCriancas.hasError('required')">
                            Quantidade
                            Crianças é
                            obrigatório</mat-error>
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Observações</mat-label>
                        <textarea formControlName="observacao" placeholder="Observações sobre o evento"
                            matInput></textarea>
                    </mat-form-field>
                </div>

                <div fxLayoutGap="10px" fxLayout="row-reverse">
                    <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                </div>

            </div>

        </form>
    </mat-step>
    <mat-step [stepControl]="localFormGroup && servicosTicTacForm && produtosAnimaximoForm">
        <form [formGroup]="orcamentoForm" class="mt-2">
            <ng-template matStepLabel>Local / Produtos / Servicos</ng-template>

            <div class="mb-2 mt-2">
                <h2>Local do Evento</h2>
                <mat-divider></mat-divider>
            </div>

            <div formGroupName="local">

                <div fxLayoutGap.gt-xs="10px" fxLayout.lt-md="column" fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="initial">
                        <mat-label>CEP</mat-label>
                        <input #inputCep formControlName="cep" matInput placeholder="CEP do cliente" mask="00000-000"
                            [showMaskTyped]="true" (blur)="buscarCep(inputCep.value)">
                        <mat-error *ngIf="localFormGroup.controls.cep.hasError('required')">Campo obrigatório
                        </mat-error>
                        <mat-error *ngIf="localFormGroup.controls.cep.hasError('cepInvalido')">CEP inválido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex.gt-xs>
                        <mat-label>Logradouro</mat-label>
                        <input formControlName="logradouro" matInput placeholder="Logradouro">
                        <mat-error *ngIf="localFormGroup.controls.logradouro.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Número</mat-label>
                        <input formControlName="numero" type="number" matInput placeholder="Número">
                        <mat-error *ngIf="localFormGroup.controls.numero.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>



                </div>

                <div fxLayoutGap.gt-xs="10px" fxLayout.lt-md="column" fxLayout="row">
                    <mat-form-field appearance="outline" fxFlex.gt-xs>
                        <mat-label>Bairro</mat-label>
                        <input formControlName="bairro" matInput placeholder="Bairro">
                        <mat-error *ngIf="localFormGroup.controls.bairro.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex.gt-xs>
                        <mat-label>Cidade</mat-label>
                        <input formControlName="cidade" matInput placeholder="Cidade do cliente">
                        <mat-error *ngIf="localFormGroup.controls.cidade.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="initial">
                        <mat-label>Estado</mat-label>
                        <mat-select matInput formControlName="estado" placeholder="Estado">
                            <mat-option value="" selected></mat-option>
                            <mat-option value="AC">Acre</mat-option>
                            <mat-option value="AL">Alagoas</mat-option>
                            <mat-option value="AP">Amapá</mat-option>
                            <mat-option value="AM">Amazonas</mat-option>
                            <mat-option value="BA">Bahia</mat-option>
                            <mat-option value="CE">Ceará</mat-option>
                            <mat-option value="DF">Distrito Federal</mat-option>
                            <mat-option value="ES">Espírito Santo</mat-option>
                            <mat-option value="GO">Goiás</mat-option>
                            <mat-option value="MA">Maranhão</mat-option>
                            <mat-option value="MT">Mato Grosso</mat-option>
                            <mat-option value="MS">Mato Grosso do Sul</mat-option>
                            <mat-option value="MG">Minas Gerais</mat-option>
                            <mat-option value="PA">Pará</mat-option>
                            <mat-option value="PB">Paraíba</mat-option>
                            <mat-option value="PR">Paraná</mat-option>
                            <mat-option value="PE">Pernambuco</mat-option>
                            <mat-option value="PI">Piauí</mat-option>
                            <mat-option value="RJ">Rio de Janeiro</mat-option>
                            <mat-option value="RN">Rio Grande do Norte</mat-option>
                            <mat-option value="RS">Rio Grande do Sul</mat-option>
                            <mat-option value="RO">Rondônia</mat-option>
                            <mat-option value="RR">Roraima</mat-option>
                            <mat-option value="SC">Santa Catarina</mat-option>
                            <mat-option value="SP">São Paulo</mat-option>
                            <mat-option value="SE">Sergipe</mat-option>
                            <mat-option value="TO">Tocantins</mat-option>
                        </mat-select>
                        <mat-error *ngIf="localFormGroup.controls.estado.hasError('required')">Campo obrigatório
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayoutGap.gt-xs="10px" fxLayout.lt-md="column" fxLayout="row">

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Complemento</mat-label>
                        <input formControlName="complemento" placeholder="Complemento" matInput>
                    </mat-form-field>
                </div>

                <div fxLayoutGap.gt-sm="10px" fxLayout.lt-lg="column" fxLayout="row">

                    <div fxLayoutGap.gt-xs="10px" fxLayout.lt-md="column" fxLayout="row" fxFlex>

                        <mat-form-field appearance="outline" fxFlex.gt-xs>
                            <mat-label>Tamanho do Local</mat-label>
                            <input formControlName="tamanhoLocal" type="number" matInput placeholder="Tamanho do Local">
                            <mat-error *ngIf="localFormGroup.controls.tamanhoLocal.hasError('required')">Campo
                                obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex.gt-xs>
                            <mat-label>Possui Elevador</mat-label>
                            <mat-select matInput formControlName="elevador" placeholder="Possui Elevador">
                                <mat-option [value]="true">Sim</mat-option>
                                <mat-option [value]="false" selected>Não</mat-option>
                            </mat-select>
                            <mat-error *ngIf="localFormGroup.controls.elevador.hasError('required')">Campo
                                obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayoutGap.gt-sm="10px" fxLayout.lt-md="column" fxLayout="row" fxFlex>

                        <mat-form-field appearance="outline" fxFlex.gt-xs>
                            <mat-label>Possui Escada</mat-label>
                            <mat-select matInput formControlName="escada" placeholder="Possui escada">
                                <mat-option [value]="true">Sim</mat-option>
                                <mat-option [value]="false" selected>Não</mat-option>
                            </mat-select>
                            <mat-error *ngIf="localFormGroup.controls.escada.hasError('required')">Campo obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex.gt-xs>
                            <mat-label>Possui Restrição de Horário</mat-label>
                            <mat-select matInput formControlName="restricaoHorario"
                                placeholder="Possui Restrição de Horário">
                                <mat-option [value]="true">Sim</mat-option>
                                <mat-option [value]="false" selected>Não</mat-option>
                            </mat-select>
                            <mat-error *ngIf="localFormGroup.controls.restricaoHorario.hasError('required')">Campo
                                obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>

            </div>

            <div formGroupName="servicos">

                <div class="mb-2 mt-2" fxLayout="row" fxLayoutAlign="space-between center">
                    <h2 class="no-margin">Produtos Animáximo</h2>
                    <button mat-fab color="primary" (click)="adicionarProdutosAnimaximo()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <mat-divider></mat-divider>

                <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-2">

                    <div formArrayName="animaximo" class="w-100">
                        <div *ngFor="let produto of produtosAnimaximoForm.controls; let i=index">

                            <div [formGroupName]="i" fxLayout="row-wrap" fxLayoutAlign="center center"
                                fxLayoutGap="10px">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Nome</mat-label>
                                    <input matInput formControlName="nome" readonly>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Descricao</mat-label>
                                    <input matInput formControlName="descricao" readonly>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="initial">
                                    <mat-label>Valor</mat-label>
                                    <input matInput formControlName="valor" type="number" readonly>
                                </mat-form-field>

                                <button mat-icon-button color="primary"
                                    (click)="removerProdutosAnimaximo(produto.value.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="mb-2 mt-2" fxLayout="row" fxLayoutAlign="space-between center">
                    <h2 class="no-margin">Serviços TicTac</h2>
                    <button mat-fab color="primary" (click)="adicionarServicosAnimaximo()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <mat-divider></mat-divider>

                <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-2">

                    <div formArrayName="tictac">
                        <div *ngFor="let servico of servicosTicTacForm.controls; let i=index">

                            <div [formGroupName]="i" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

                                <div fxLayout="row-wrap" fxLayoutGap="10px">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Nome</mat-label>
                                        <input matInput formControlName="nomeServico" readonly>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Descricao</mat-label>
                                        <input matInput formControlName="descricao" readonly>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="initial">
                                        <mat-label>Valor</mat-label>
                                        <input mask="separator.2" [decimalMarker]="','" [thousandSeparator]="'.'" matInput formControlName="valor">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="initial">
                                        <mat-label>Quantidade</mat-label>
                                        <input matInput formControlName="quantidade">
                                    </mat-form-field>
                                    <button mat-icon-button color="primary"
                                        (click)="removerServicosAnimaximo(servico.value.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="outline" fxFill>
                                    <mat-label>Observação</mat-label>
                                    <textarea formControlName="observacao" placeholder="Observações sobre o serviço"
                                        matInput></textarea>
                                    <input matInput formControlName="observacao">
                                </mat-form-field>


                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div fxLayoutGap="10px" class="mt-2">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="primary" matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="orcamentoFinalFormGroup && orcamentoFormGroup">
        <form [formGroup]="orcamentoForm" class="mt-2">
            <div formGroupName="servicos">

                <ng-template matStepLabel>Valores</ng-template>
                <div>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

                            <mat-expansion-panel-header>

                                <mat-panel-title>
                                    Frete
                                </mat-panel-title>

                                <mat-panel-description fxLayoutAlign="space-between center">
                                    <span>Valores Referente ao frete</span>
                                    <div fxLayoutAlign="center center">
                                        <mat-icon>map</mat-icon>
                                        <strong>R${{frete| currency}}</strong>
                                    </div>
                                </mat-panel-description>

                            </mat-expansion-panel-header>

                            <mat-form-field>
                                <mat-label>Valores Frete</mat-label>
                                <input formControlName="valorFrete" matInput placeholder="Frete">
                            </mat-form-field>

                            <mat-action-row>
                                <div fxLayoutGap="10px" fxLayout="row-reverse">
                                <button mat-button color="primary" (click)="nextStep()">Validar</button>
                                </div>
                            </mat-action-row>

                        </mat-expansion-panel>

                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Produtos
                                </mat-panel-title>
                                <mat-panel-description fxLayoutAlign="space-between center">
                                    <span>Valor Total Produtos</span>
                                    <div fxLayoutAlign="center center">
                                        <mat-icon>add_shopping_cart</mat-icon>
                                        <strong>R${{valorProtudos}}</strong>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-form-field>
                                <mat-label>Valor Total Produto</mat-label>
                                <input [value]="valorProtudos" readonly matInput placeholder="Frete">
                            </mat-form-field>

                            <mat-action-row>
                                <button mat-button color="warn" (click)="prevStep()">Voltar</button>
                                <button mat-button color="primary" (click)="nextStep()">Validar</button>
                            </mat-action-row>
                        </mat-expansion-panel>

                        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Serviços
                                </mat-panel-title>
                                <mat-panel-description fxLayoutAlign="space-between center">
                                    <span>Valor Total Serviços</span>
                                    <div fxLayoutAlign="center center">
                                        <mat-icon> settings_accessibility</mat-icon>
                                        <strong>R${{valorServicos}}</strong>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-form-field>
                                <mat-label>Valor Total Serviço</mat-label>
                                <input [value]="valorServicos" readonly matInput placeholder="Valor Total Serviço">
                            </mat-form-field>


                            <mat-action-row>
                                <button mat-button color="warn" (click)="prevStep()">Voltar</button>
                                <button mat-button color="primary" (click)="nextStep()">Validar</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                            <mat-expansion-panel-header class="right-aligned-header">
                                <mat-panel-title>
                                    Total
                                </mat-panel-title>
                                <mat-panel-description fxLayoutAlign="space-between center">
                                    <span>Valores Totais</span>
                                    <div fxLayoutAlign="center center">
                                        <mat-icon>attach_money</mat-icon>
                                        <strong>R${{totalValor}}</strong>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-form-field>
                                <mat-label>Valores Totais</mat-label>
                                <input [value]="totalValor" readonly matInput placeholder="Frete">
                            </mat-form-field>
                            <div fxLayoutGap="10px" fxLayout="row-reverse">
                            <mat-action-row>

                                <button mat-button color="warn" (click)="prevStep()">Voltar</button>
                                <div *ngIf="!edicao">
                                    <button mat-button color="primary" (click)="onSubmit()">Criar</button>
                                </div>
                                <div *ngIf="edicao">
                                    <button mat-button color="primary" (click)="editar()">Atualizar</button>
                                </div>
                            </mat-action-row>
                        </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </form>

    </mat-step>
</mat-horizontal-stepper>