<div fxLayout="row-wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <div fxLayoutGap="10px">
    <button mat-raised-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Anterior
    </button>
    <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">
      Hoje
    </button>
    <button mat-raised-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Próximo
    </button>
  </div>
  <div>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt-br' }}</h3>
  </div>
  <div fxLayoutGap="10px">
    <button mat-raised-button [color]="view === calendarView.Month ? 'primary' : ''" (click)="setView(calendarView.Month)" [class.active]="view === calendarView.Month">
      Mês
    </button>
    <button mat-raised-button [color]="view === calendarView.Week ? 'primary' : ''" (click)="setView(calendarView.Week)" [class.active]="view === calendarView.Week">
      Semana
    </button>
    <button mat-raised-button [color]="view === calendarView.Day ? 'primary' : ''" (click)="setView(calendarView.Day)" [class.active]="view === calendarView.Day">
      Dia
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    Carregando eventos...
  </div>
</ng-template>
<br />
<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="calendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
  </div>
</div>