body {
    margin: 0;
    height: 100vh;
}


.success-snackbar {
    color: white;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.info-snackbar {
    color: white;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.warn-snackbar {
    background-color: var(--warn-color);
    color: white;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

div.header-pages {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    border-radius: 5px;
    padding: 10px 0px;

    .title-header {
        margin: 0px 8px 0px 8px;
    }

    .icon-header {
        margin: 0;
    }
}